.about{
    max-width: 1440px;
    margin: 0 auto;
    &__img{
        position: relative;
        .yellow_squer{
            position: absolute;
            right: 10%;
            top: 50%;
            transform: translateY(-50%);
        }
        img{
            width: 475px;
            height: 475px;
            filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
            border-radius: 5px;
        }
    }
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}