.hr_rectangle{
    margin: 0 auto;
    width: 60px;
    height: 5.11px;
    background: $yellow;
    border-radius: 50px;
    .absolute-horizont{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 50%;
    }
}

.yellow_squer{
    width: 250px;
    height: 250px;
    border: 20px solid $yellow;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
    border-radius: 5px
}

.full-screen{
    width: 100%;
}