header{
    margin: 0 auto;
    max-width: 1440px;
    height: 800px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/header-bg.png);
    position: relative;
    .label{
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 150px;
        padding-top: 45px;
    }
    .header_title{
        position: absolute;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        h1{
            /* Heading 1 */
            color: #FFFFFF;
            font-family: 'Banny';
            font-size: 96px;
            text-transform: uppercase;
            //line-height: 0px;
        }
        &__btn{
            .btn{
                width: 250px;
            }
            .btn-primary{
                &:hover{
                    background: none;
                }
            }
        }
    }
}
